.u-section-1-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/4328791.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 608px;
  }
}.u-section-1-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/702978.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 0;
}.u-section-1-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/4328791.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 100vh;
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 608px;
  }
}.u-block-7356-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-7356-3 {
  position: absolute;
  left: 0;
}

.u-block-7356-4 {
  position: absolute;
  right: 0;
}